<div class="row">
  <div class="col-12 text-center">
    <h1>My Quotes</h1>
  </div>
</div>

<div class="row">
  <div class="card col-4" *ngFor="let quote of quotes; let i = index">
    <div class="card">
      <div class="card-header">Quote{{ i + 1 }} of {{ quotes.length }}</div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{ quote.quote }}</p>
          <footer class="blockquote-footer">{{ quote.author }}</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<!--
  <div class="card col-4">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    c
  </div>
</div>
-->
