<div>
  <p>
    <strong>submitted By: </strong>{{ quote.submittedBy }}
    {{ quote.dateCreated | dayCount }} days ago
  </p>
  <p>
    <strong>Votes: </strong>
    {{ quote.votes }}
    <button
      (click)="upVote(true)"
      class="circle btn btn-outline-secondary mr-1"
    >
      <img class="up-vote" src="./assets/up-vote.png" alt="" />
    </button>
    <button
      (click)="downVote(true)"
      class="circle btn btn-outline-secondary mr-1"
    >
      <img class="down-vote" src="./assets/down-vote.png" alt="" />
    </button>
  </p>
  <button class="circle btn btn-danger" (click)="deleteQuote(true)">X</button>
</div>
